<div class="card">
  <div class="card-block">

    <h2>Registrate</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      
      <div class="row">

        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :name, 'Nombre' %> <br>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :password, 'Contraseña' %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caracteres minimo)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, 'Confirma tu Contraseña'%><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
          </div>
        </div>
        
        <div class="col-md-9"></div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.submit "Crear Cuenta", class: 'btn btn-primary btn-block' %>
          </div>

          <div class="links btn-register">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
