<%= form_for(portfolio) do |f| %>
	
	<div>
		<%= f.label 'Titulo' %>
		<%= f.text_field :title %>
	</div>

	<div>
		<%= f.label 'Subtitulo' %>
		<%= f.text_field :subtitle %>
	</div>

	<div>
		<%= f.label :body %>
		<%= f.text_area :body %>
	</div>

	<ul>
		<%= f.fields_for :technologies do |technology_form| %>
		<li>
			<%= technology_form.label :nombre %>
			<%= technology_form.text_field :name %>
		</li>
		<% end %>
	</ul>

	<%= f.submit 'Guardar' %>

<% end %>