<h1>Portfolio Items</h1>

<% @portfolio_items.each do |portfolio|%>
	<h3><%= link_to portfolio.title, portfolio %></h3>
	<p><%= portfolio.subtitle %></p>
	<p><%= portfolio.body %></p>
	<p><%= image_tag portfolio.thumb_image unless
	portfolio.thumb_image.nil? %></p> 

	<%= link_to 'Editar', edit_portfolio_path(portfolio) %><br>
<% end %>