<h1>Portfolio Items</h1>

<%= link_to 'Nuevo', new_portfolio_path %>

<% @portfolio_items.each do |portfolio|%>
	<h3><%= link_to portfolio.title, portfolio_show_path(portfolio) %></h3>
	<p><%= portfolio.subtitle %></p>
	<p><%= portfolio.body %></p>
	<p><%= image_tag portfolio.thumb_image unless
	portfolio.thumb_image.nil? %></p>
	<p><%= distance_of_time_in_words(portfolio.created_at, Time.now) %></p>

<% end %>