<%= image_tag @portfolio_item.main_image %>

<h2><%= @portfolio_item.title %></h2><br>
<h3><%= @portfolio_item.subtitle %></h3><br>
<p><%= @portfolio_item.body %></p><br><br>

<%= link_to 'Atras', portfolios_path%>