<div class="container">
	<div class="row">
		<div class="col-md-7">
			<%= image_tag @portfolio_item.main_image unless @portfolio_item.thumb_image.nil? %>
		</div>
		<div class="col-md-5">
			<h2><%= @portfolio_item.title %></h2>
			<hr>
			<h3><%= @portfolio_item.subtitle %></h3>
			<p><%= @portfolio_item.body %></p>
			<hr>
			<h3>Tecnologies Usadas</h3>
			<% @portfolio_item.technologies.each do |t| %>
				<p><%= t.name %></p>
			<% end %>
			
			<%= link_to 'Ver todos los proyectos', portfolios_path %>
		</div>
	</div>
</div>



