<div class="collapse bg-inverse" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h4 class="text-white">Acerca</h4>
        <p class="text-muted">Este es mi album personal donde les compartire los proyectos que eh realizado en lo que va de mi carrera como desarrollador y las tecnologias que eh usado para desarrollar estos proyectos.</p>
      </div>
      <div class="col-sm-4 py-4">
        <h4 class="text-white">Explora</h4>
        <ul class="list-unstyled">
          <li><%= link_to 'Home', root_path, class: 'text-white' %></li> 
          <li><%= link_to 'Acerca de mi', about_me_path, class: 'text-white' %></li> 
          <li><%= link_to 'Contacto', contact_path, class: 'text-white'%></li> 
          <li><%= link_to 'Blog', blogs_path, class: 'text-white' %></li> 
          <li><%= link_to 'Portafolio', portfolios_path, class: 'text-white' %></li>
          <li><%= login_helper 'text-white' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-inverse bg-inverse">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand">Julio Garcia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>